/* -------------- FONTS ---------------------
Fonts added:
Gibson Bold

font-family: canada-type-gibson, sans-serif;

font-weight: 700;

font-style: normal;


Gibson Bold Italic

font-family: canada-type-gibson, sans-serif;

font-weight: 700;

font-style: italic;


Gibson Italic

font-family: canada-type-gibson, sans-serif;

font-weight: 400;

font-style: italic;


Gibson Regular

font-family: canada-type-gibson, sans-serif;

font-weight: 400;

font-style: normal;


Gibson SemiBold

font-family: canada-type-gibson, sans-serif;

font-weight: 600;

font-style: normal;
 ----------------------------------------------*/




/* --------------- LOGIN --------------------------*/
img {
    width: 100%;
}


#login body {

    background-color: #faf7f7;

    width: 360px;
}


#login .top_column {
    background-color: #EA5045;
    width: 360px;
    height: 180px;

}

#login .login_logo {
    background-image: url(pictures/Group%201604.svg);
    width: 220px;
    height: 55px;
    background-size: cover;
    transform: translate(30%, 110%);
    max-width: 360px;

}


#login {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #faf7f7;
}





/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 300px;
    height: 50px;

}



#login .knapper {
    text-align: center;
    padding-bottom: 30px;
    justify-content: center;

}

#login .tekstbokse {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
    background-color: #faf7f7;
}

/* Set a style for all buttons */

#login knapper {
    text-align: center;


}


#login .knap1 {

    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 auto;
    cursor: pointer;
    border-radius: 30px;
    width: 300px;
    border: solid;
    border-color: #f44336;
    display: inline-block;



}

#login .knap2 {

    background-color: white;
    color: #f44336;
    padding: 14px 20px;
    margin: 8px 0 auto;
    border: solid;
    border-color: #f44336;
    cursor: pointer;
    border-radius: 30px;
    flex-wrap: nowrap;
    width: 300px;
    display: inline-block;

}


/* ------------  Disclaimer  -------------*/







/* --------- HEADER FOR ALLE SIDER --------------- */

header {
    width: 100%;
    height: 50px;
    background-color: #EA5045;
    width: 360px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}

.logo {
    background-image: url(pictures/Group%201604.svg);
    width: 100px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    top: 50%;
    margin-left: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(50%);



}

.profil {

    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    transform: translateX(500%);
    position: absolute;
    left: 40%;
    top: 2.5%;
}

/*SKEMA*/

.skema {
    width: 100%;
    height: 14vw;
    background-color: gainsboro;
}




/* -------------------- BURGER MENU ---------------- */

#myNav img {
    width: 64vw;
    margin-bottom: 40px;


}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: #3F3140;
    /* Black fallback color */
    background-color: #3F3140;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #F58E81;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    font-family: canada-type-gibson, sans-serif;

    font-weight: 400;

    font-style: normal;

}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: white;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 50px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }


    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.burger {
    float: right;
    margin: 0;
    top: 50%;
    margin-right: 4vw;
    position: absolute;
    left: 87%;
    top: 3%;

}


#logud {
    position: absolute;
    background-color: #f44336;
    color: white !important;
    width: 100%;
    bottom: -233px;
    text-align: center;
    overflow-x: hidden;
    z-index: 0;
}


/* ----------------- FORISDE ------------------*/

/* FONTS */

.text1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    color: #F58E81;

}


.text2 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #F58E81;
}


.text3 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: #F58E81;
}

.container a {
    text-decoration: none;
}



/*toprow*/

.icon {
    height: 42px;
    width: 42px;
    display: flex;
    color: #FFB4AA;

}



.container {
    align-items: center;
    background-color: #faf7f7;
    width: 360px;
}

.menubox {
    pointer-events: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;


}

.toprow {
    display: flex;
    margin-top: 5px;

}

.materialer {
    width: 110px;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}






.icon1 {
    height: 42px;
    width: 42px;
    display: flex;



}

.icon2 {
    height: 42px;
    width: 42px;



}


.skema {
    width: 110px;
    height: 110px;


}



.notifikationer {
    width: 110px;
    height: 110px;
}

/*midrow*/

.midrow {
    display: flex;
}


.techlounge {
    width: 230px;
    height: 110px;


}

.mail {
    width: 110px;
    height: 110px;

}

/*mid1row*/

.mid1row {
    display: flex;
}

.favoritter {
    width: 110px;
    height: 110px;


}

.grupper {
    width: 110px;
    height: 110px;

}

.chat {
    width: 110px;
    height: 110px;

}

/*.Bottomrow*/
.bottomrow {
    display: flex;
    height: 240px;
}

.sog {
    width: 110px;
    height: 110px;


}

.afleveringer {
    width: 110px;
    height: 110px;


}

.collom {
    flex-direction: column;
    display: flex;

}

.aktuelt {
    width: 230px;
    height: 230px;
    flex-wrap: wrap;
}

.bottom1row {
    display: flex;

}

.xxx {
    width: 110px;
    height: 110px;
}

.xxx img {
    height: 32px;
    width: 32px;

}



/* ------------ Undersider -----------------*/

.construction {
    margin: 15px;
    max-width: 330px;
}

.profil {
    background-image: url(svg/profile)
}

/* ------------ skema -----------------*/

.skemamain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 14vw;
    background-color: gainsboro;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    padding-bottom: 2px;
    padding-top: 3px;
}

.skematop1 {
    font-size: 1rem;
}


ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

/* Month header */
.maaned {
    width: 100%;
    background-color: #3F3140;
    text-align: center;
}

/* Month list */
.maaned ul {
    margin: 0;
    padding: 0;
}

.maaned ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.maaned .prev {
    float: left;
    padding: 10px;
    padding-top: 20px;
    padding-left: 60px;
    color: #EA5045;

}

/* Next button */
.maaned .next {
    float: right;
    padding: 10px;
    padding-top: 20px;
    padding-right: 60px;
    color: #EA5045;
}

/*MODULER I SKEMA*/

.skema1 {
    display: flex;
}

.tidcontainer {}

.tid1 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    color: darkgray;

}

.tid2 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: darkgray;
    width: 37px;

}

.modul1 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 300px;
    border-style: solid;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.modul1 p {
    font-size: 0.7em
}

.img1 {
    width: 15px;
    position: absolute;
    right: 4vw;
    top: 53vw;
}

.img2 {
    width: 15px;
    position: absolute;
    right: 4vw;
    top: 58vw;
}


.skema2 {
    display: flex;
}

.tidcontainer2 {}

.tid3 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    color: darkgray;
    width: 37px;

}

.tid4 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: darkgray;

}

.modul2 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 300px;
    border-style: solid;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.modul2 p {
    font-size: 0.7em
}

.img3 {
    width: 15px;
    position: absolute;
    right: 4vw;
    top: 90.5vw;
}

.skema3 {
    display: flex;
}

.tidcontainer3 {}

.tid5 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    color: darkgray;
    width: 37.88px;

}

.tid6 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: darkgray;
    width: 37.88px;

}

.modul3 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 150px;
    border-style: solid;
    font-size: 0.8rem;
    padding: 10px;
    flex-grow: 1;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.modul3 p {
    font-size: 0.7em
}

.img4 {
    width: 15px;
    position: absolute;
    right: 4vw;
    top: 128.5vw;
}

.skema4 {
    display: flex;
}

.tid7 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    color: darkgray;
    width: 37.88px;

}

.tid8 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 100px;
    border-style: solid;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: darkgray;
    width: 37.88px;

}

.modul4 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 150px;
    border-style: solid;
    font-size: 0.8rem;
    padding: 10px;
    flex-grow: 1;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.mat1 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 300px;
    border-style: none;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.mat1 img {
    position: absolute;
    width: 12px;
    right: 15px;
    top: 202px;
}

.mat1 p {
    font-size: 0.6rem;
}

.mat2 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 300px;
    border-style: none;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.mat2 img {
    position: absolute;
    width: 12px;
    right: 15px;
    top: 256px;
}

.mat2 p {
    font-size: 0.6rem;
}

.mat3 {
    border: 1px;
    border-color: #BCC5D3;
    flex-basis: 300px;
    border-style: none;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 8px;
    background-color: whitesmoke;
    margin-bottom: 350px;
}

.mat3 img {
    position: absolute;
    width: 12px;
    right: 15px;
    top: 310px;
}

.mat3 p {
    font-size: 0.6rem;
}


.skemafoot {
    background-color: #3F3140;
}

.skemafoot2 {
    display: flex;
    justify-content: center;
}

.skemafoot img {
    width: 20px;
    padding-right: 8px;
}

.skemafoot p {
    font-size: 0.8rem;
    color: white;
}

.skematext p {
    font-family: canada-type-gibson, sans-serif;
    padding: 0;
    margin: 0;
}

.mattext p {
    font-family: canada-type-gibson, sans-serif;
    padding: 0;
    margin: 0;
}
